@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hocus (&:hover, &:focus);

@theme {
  --color-light: var(--color-gray-50);
  --color-dark: var(--color-neutral-900);
}

@layer base {
  a,
  button {
    @apply px-2 py-1.5 outline-0 transition-colors duration-200 border-2 border-transparent rounded-lg hocus:border-dark dark:hocus:border-light;
  }

  p {
    @apply font-normal;
  }
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  @apply antialiased min-h-screen text-dark bg-light font-medium;
}
html.dark body {
  @apply text-light bg-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono), serif;
}
