@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  background-color: var(--color-gray-50);
  color: var(--color-neutral-800);
}
html.dark body {
  background-color: var(--color-gray-900);
  color: var(--color-gray-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}
